* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5vh 5vw; /* Borde que ajusta el espacio alrededor del contenedor */
  height: 100vh;
  overflow: hidden; /* Evita el desbordamiento de la pantalla */
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px; /* Espacio entre secciones */
  height: calc(100vh - 10vh); /* La altura se ajusta al viewport restando el padding */
}

.tags-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Scroll solo en el eje vertical */
  height: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4a4a4a;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Se ajustan las columnas dinámicamente */
  gap: 10px;
}

.grid-item {
  border-radius: 10px;
  background-color: #54a834;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  cursor: pointer;
  box-shadow: 4px 5px 5px rgb(0 0 0 / 42%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 30px;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#ordered-tags .grid-item {
  background-color: #6d01ae;
}

#pending-tags .grid-item {
  background-color: #ff914d;
}

.pop-in {
  animation: popIn 0.5s ease-out;
}


.confirmation-box {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  padding: 5px;
  z-index: 10;
  height: 50px;
}

.confirmation-box button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px;
  margin: 0 2px;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
}

.confirmation-box button.no {
  background-color: #f44336;
}


@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 10vh);
  }

  .tags-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  }

  .grid-item {
    height: 60px;
  }
}
