* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5vh 5vw; /* Borde que ajusta el espacio alrededor del contenedor */
  height: 100vh;
  overflow: hidden; /* Evita el desbordamiento de la pantalla */
}

.nav-menu{
  display: none;
}


.container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  gap: 20px; /* Espacio entre secciones */
  height: calc(100vh - 10vh); /* La altura se ajusta al viewport restando el padding */
}

/* Contenedor principal que contiene todo el contenido */
.content-container {
  background-color: var(--white-color);
  padding: 25px;
  border-radius: 15px;
  max-width: 1500px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 230px;
  margin-top: 40px;
  height: 95%;
  width: 94%;
}


.tags-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Scroll solo en el eje vertical */
  height: 85%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4a4a4a;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Se ajustan las columnas dinámicamente */
  gap: 10px;
}

.grid-item {
  border-radius: 10px;
  background-color: #54a834;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  cursor: pointer;
  box-shadow: 4px 5px 5px rgb(0 0 0 / 42%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 30px;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#ordered-tags .grid-item {
  background-color: #6d01ae;
}

#pending-tags .grid-item {
  background-color: #ff914d;
}

.pop-in {
  animation: popIn 0.5s ease-out;
}


.confirmation-box {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  padding: 5px;
  z-index: 10;
  height: 50px;
}

.confirmation-box button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px;
  margin: 0 2px;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  font-size: 20px;
}

.confirmation-box button.no {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  margin: 0 2px;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  font-size: 20px;
}

#btnEliminar {
  background-color: #ff4d4d; /* Color rojo */
  color: white;
  border: none;
  padding: 10px;
  margin-top: 40px;
  width: 60%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

#btnEliminar:hover {
  background-color: #e60000; /* Color rojo oscuro al pasar el cursor */
}

#notification-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.notification {
  background-color: #e0f8e9;
  color: #2d6a4f;
  border: 1px solid #95d5b2;
  border-radius: 5px;
  padding: 15px 20px;
  min-width: 250px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.4s ease, fadeOut 0.4s ease 2.5s forwards;
  font-family: Arial, sans-serif;
}

.notification.error {
  background-color: #fde2e2;
  color: #d9534f;
  border-color: #f5c6cb;
}

.notification .close-btn {
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  color: inherit;
}

.menu-container{
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 10vh);
  }

  .tags-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  }

  .grid-item {
    height: 60px;
  }
}
