* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 100%;
}

.tabla, .tarjeta {
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 1500px;
    height: 445px;
}

.tabla {
    width: 200%;
    padding: 25px;
    height: 660px;
    z-index: 100000;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    height: fit-content;
}


/* DESPLIEGUE DEL TIPO DE LAVADOS. */
/* General styling for the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaciado entre los campos */
  }
  
  /* Estilo para el select */
  #selectServicio {
    width: 100%; /* Asegura que ocupe todo el ancho del formulario */
    max-width: 400px; /* Máximo ancho */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border: 2px solid #d3d3d3; /* Borde limpio */
    border-radius: 5px; /* Esquinas redondeadas */
    background-color: #f9f9f9; /* Fondo claro */
    color: #333; /* Color del texto */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    outline: none; /* Sin borde azul al seleccionar */
    appearance: none; /* Elimina el estilo por defecto del navegador */
    z-index: 1; /* Asegura que el desplegable esté encima de otros elementos */
    position: relative; /* Asegura que el desplegable esté alineado correctamente */
  }
  
  /* Cambiar color cuando esté enfocado */
  #selectServicio:focus {
    border-color: #6b00ad; /* Color del borde al enfocar */
    background-color: #fff; /* Fondo blanco */
  }
  
  /* Estilo para las opciones del select */
  #selectServicio option {
    font-size: 16px; /* Tamaño del texto */
    padding: 10px; /* Espaciado interno */
    color: #333; /* Color del texto */
  }
  
  /* Asegura que el contenedor no esté desfasado */
  .tarjeta {
    width: 100%;
    max-width: 500px; /* Máximo ancho del formulario */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tarjeta h3 {
    font-size: 24px;
    color: #6b00ad;
    margin-bottom: 20px;
    text-align: center;
  }
  
  button#btnAgregar {
    background-color: #6b00ad;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ajuste al tamaño del formulario */
  }
  
  button#btnAgregar:hover {
    background-color: #8a2fc7; /* Efecto hover */
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    #selectServicio {
      font-size: 14px; /* Tamaño de texto más pequeño */
      width: 90%; /* Asegura que no ocupe más espacio */
      margin: 0 auto; /* Centra el select */
    }
  
    .tarjeta {
      width: 90%; /* Reduce el ancho del formulario */
      margin: 0 auto; /* Centra el formulario */
    }
  
    button#btnAgregar {
      font-size: 14px; /* Ajusta el tamaño del texto del botón */
    }
  }
  


.highlight-row {
    background-color: rgba(255, 255, 0, 0.544);
    transition: background-color 0.3s ease;
}

#observacion {
    text-align: center;
    font-weight: 300;
}

#comensales {
    font-weight: 300;
}

h3 {
    color: #333;
    font-size: 2.0em;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    color: #555;
    background-color: #f9f9f9;
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
    background-color: #fff;
    box-shadow: 0 0 6px rgba(107, 0, 173, 0.3);
    outline: none;
}

button {
    padding: 12px 25px;
    margin-top: 15px;
    font-size: 1.1em;
    color: #fff;
    background-color: #6b00ad;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 180px;
}

.red-text {
    color: red;
    font-weight: bold;
}

.disabled-row {
    font-style: italic;
    color: #ff6868d9 !important;
}

.highlight-row {
    background-color: rgba(255, 255, 0, 0.567);
    transition: background-color 0.3s ease;
}

#btnIniciar {
    background-color: #008000;
}

.btnActions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

#btnReiniciar, #btnEliminar, #btnParar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px !important;
    height: 50px !important;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#btnReiniciar:hover {
    background-color: #d97c3a;
    transform: scale(1.05);
}

#btnEliminar:hover {
    background-color: #d45a4a;
    transform: scale(1.05);
}

#btnParar:hover {
    background-color: #6848a3;
    transform: scale(1.05);
}

#btnReiniciar {
    margin: 0 !important;
    background-color: #ff914d;
}

#btnEliminar {
    margin: 0 !important;
    background-color: #ef5350;
}

#btnParar {
    margin: 0 !important;
    background-color: #7e57c2;
}

#btnReiniciar i, #btnEliminar i, #btnParar i {
    font-size: 24px;
    color: #fff;
}

.contador {
    margin-top: 25px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 6px solid #6b00ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #333;
    position: relative;
    transition: border-color 0.3s ease;
}

.contador.active {
    border-color: #ff914d;
    animation: countdown 300s linear forwards;
}

button:hover {
    background-color: #55008a;
    transform: scale(1.05);
}

#btnIniciar:hover {
    background-color: #006400;
}

#btnGenerarQR:hover {
    background-color: #4e00ad;
}

#btnReiniciar:hover {
    background-color: #d97c3a;
    transform: scale(1.05);
}

#btnEliminar:hover {
    background-color: #d45a4a;
    transform: scale(1.05);
}

#btnParar:hover {
    background-color: #6848a3;
    transform: scale(1.05);
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, transform 0.2s;
}

th {
    background-color: #6b00ad; /* Fondo violeta para el encabezado */
    color: #fff;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Fila seleccionada */
.selected {
    background-color: #f0f0ff;
    transform: scale(1.02);
}

/* Cambio de estilo al pasar el mouse sobre una fila */
tr:hover td {
    background-color: #f0f0ff;
    transform: scale(1.02);
}

#tiempoRestante {
    font-size: 1.3em;
    color: #333;
}

/* Contenedor de tabla con scroll */
.table-container {
    max-height: 500px;
    overflow-y: auto;
}

/* Estilos para el encabezado de la tabla */
table thead th {
    background-color: #6b00ad !important; /* Fondo violeta */
    color: #ffffff; /* Texto blanco para contraste */
    font-weight: bold;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}


@keyframes countdown {
    from {
        stroke-dasharray: 251.2;
    }
    to {
        stroke-dasharray: 0;
    }
}
