/* General Mobile Styles */
@media (max-width: 768px) {

  /* Header Adjustments */
  header .text-content h1 {
    font-size: 30px;
    text-align: center;
  }

  .topBar h1 {
    font-size: 1rem;
    /* Opcional: ajustar el tamaño */
  }

  .topBar h1::before {
    content: "" !important;
    /* Oculta el texto "Empresa:" */
  }

  .img-holder img {
    width: 70%;
    height: auto;
  }

  .collapse {
    transition: height 0.3s ease-out;
    /* Transición suave para colapsar */
  }

  .collapse.show {
    transition: height 0.3s ease-in;
    /* Transición suave para expandirse */
  }


  /* Contact Section */
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .info-container {
    width: 100%;
    text-align: center;
  }

  /* FAQ Section */
  .faq-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* WhatsApp Button */
  .whatsapp-float {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }

  .whatsapp-float img {
    width: 24px;
    height: 24px;
  }

  /* Carousel Adjustments */
  .owl-carousel .item img {
    width: 100%;
    height: auto;
  }

  /* NAV MENU */
  .nav-menu {
    background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    opacity: 1 !important;
    z-index: 100000;
  }

  .nav-menu.is-scrolling {
    background-image: linear-gradient(135deg, rgba(60, 8, 118, 1) 0%, rgba(250, 0, 118, 1) 100%);
  }

  .nav-menu .navbar-brand img {
    width: 70px;
    height: auto;
  }

  .nav-menu .navbar-toggler {
    font-size: 18px;
  }

  .nav-item {
    text-align: center;
    margin-bottom: 10px;
  }

  /* Row Personal - Carrusel */
  .rowPersonal {
    display: grid;
    overflow-x: auto;
    /* Scroll horizontal */
    padding: 20px;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
  }

  .cajaMotivos {
    flex: 0 0 auto;
    width: 300px;
    /* Ancho fijo de cada tarjeta */
    padding: 20px;
    scroll-snap-align: center;
    /* Centra la tarjeta al detenerse */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 12px 20px 20px 0px rgba(0, 0, 0, 0.1);
  }

  .iconNovedades img {
    max-width: 180px;
    height: auto;
  }

  .card-title {
    font-size: 1.9rem;
    margin: 10px 0;
    line-height: 1.2;
    color: #6b00ad;
  }

  .card-text {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }

  #mediaNovedades {
    display: grid;
  }

  /* Scroll Estilizado */
  .rowPersonal::-webkit-scrollbar {
    height: 8px;
  }

  .rowPersonal::-webkit-scrollbar-thumb {
    background: #6b00ad;
    border-radius: 10px;
  }

  .rowPersonal::-webkit-scrollbar-track {
    background: #d9d6f6;
    border-radius: 10px;
  }

  /* SECTION PACKS */
  .box1 {
    width: 100% !important;
  }

  /* Pulse Button */
  .pulse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ff4081;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .pulse-btn a {
    text-decoration: none;
    color: white;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }

  /* SECTION PASOS CON IMAGEN */
  .pasosDesktop {
    display: none;
  }

  .sectionMovil {
    display: block;
  }

  /* Estilo para los botones de números */
  .numbers {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
  }

  .number-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6b00ad;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  /* Botón Activo */
  .number-btn.active {
    background-color: #ff914d;
    transform: scale(1.1);
    transition: background-color 0.5s ease, transform 0.5s ease;
  }

  /* Botón Hover */
  .number-btn:hover {
    background-color: #ff914d;
  }

  /* Bloques de contenido */
  .content-block {
    display: none;
    opacity: 0;
    /* Oculto inicialmente */
    transform: translateX(-20px);
    /* Aparece desde la izquierda */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Suaviza el movimiento y la opacidad */
  }

  .content-block.active {
    display: block;
    opacity: 1;
    /* Totalmente visible */
    transform: translateX(0);
    /* Regresa a su posición original */
  }

  /* Imágenes */
  .carousel-image {
    position: static;
    width: 100%;
    max-width: 300px;
    height: auto;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 20px 6px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
  }

  .carousel-image.active {
    opacity: 1;
    transform: scale(1);
  }

  /* FAQ Section */
  #faq {
    margin-top: -120px;
    margin-bottom: 100px;
  }

  /* Footer */
  .social-icons {
    justify-content: center;
  }

}