body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.qr-container {

    text-align: center;
}

img{
    width: 500px;
}


.tarjetaYqr{
    display: grid;
    /* background-color: red; */
    align-items: center;
    justify-items: center;
    margin-top: -85px;
}