/* Sección de mensajes (WhatsApp Web Simulador) */ 

/* Estilo normal del botón enviar (verde) */
#sendButton {
    background-color: #25D366; /* Verde */
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

/* Estilo cuando se seleccionan múltiples clientes (violeta) */
#sendButton.multiple-selected {
    background-color: #6b00ad; /* Violeta fuerte */
    color: white;
}


.section-mensajes{
    display: grid;
    grid-template-columns: 62% 1fr;
    gap: 50px;
    justify-items: center;
}


/* Estilo para los clientes cuando están seleccionados */
.selected-client {
    background-color: #e1d4f9; /* Color violeta claro */
    font-weight: bold;
}

/* Efecto hover, pero no debe sobrescribir al seleccionado */
.client-item:hover {
    background-color: #f0f0f0; /* Color cuando se pasa el ratón */
}

/* Si el cliente está seleccionado, debe mantener el color de selección aunque se haga hover */
.client-item.selected-client:hover {
    background-color: #e1d4f9; /* Mantén el color violeta claro cuando está seleccionado y se pasa el ratón */
}

.whatsapp-simulator-box * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp-simulator-box {
    display: flex;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
}

/* Barra lateral */
.whatsapp-sidebar {
    padding: 10px;
    width: 30%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.whatsapp-sidebar-header {
    display: grid;
    align-items: center;
    padding: 10px;
    background-color: #ededed;
    border-bottom: 1px solid #ddd;
}

.whatsapp-chat-panel2{
    display: none;
}

#searchInput{
    display: none;
}

.message-bubble {
    background-color: #dcf8c6;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    display: none;
}

.message-bubble.active {
    display: block;
    /* Muestra el mensaje activo */
}

.whatsapp-profile-pic-sidebar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: none;
}

.message-bubble::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #dcf8c6 transparent transparent transparent;
}
.message-timestamp {
    font-size: 12px;
    color: #54656f;
    text-align: right;
    margin-top: 5px;
}

strong {
    color: #075e54;
}

a {
    color: #128c7e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para la barra de búsqueda */
.whatsapp-search-bar {
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #f6f6f6;
    font-size: 14px;
    color: #666;
    position: relative;
    box-sizing: border-box;
}

/* Estilo para la cruz de limpiar el campo */
.clear-search {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.clear-search:hover {
    color: #555;
}

.whatsapp-sidebar-header {
    position: relative;
}

ul {
    list-style-type: none;
    overflow-y: auto;
    flex-grow: 1;
    padding-left: 0; /* Eliminar padding default del ul */
}

li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

.client-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.client-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.client-number {
    font-size: 14px;
    color: #666;
}

/* Área de chat */
.whatsapp-chat-panel {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #eae6df;
}

.whatsapp-chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    display: none;
}

.whatsapp-chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.whatsapp-header-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.whatsapp-status {
    font-size: 12px;
    color: #25D366;
}

.whatsapp-header-actions {
    display: flex;
}

.whatsapp-icon-header {
    width: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.whatsapp-chat-history {
    flex-grow: 1;
    padding: 20px;
    background-color: #e5ded8;
    overflow-y: auto;
    height: 91%;
}

/* Estilos de los mensajes */
.whatsapp-message {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
    position: relative;
    clear: both; /* Asegura que los mensajes no se superpongan */
}

/* Mensajes enviados (verde, alineados a la izquierda) */
.whatsapp-sent {
    background-color: #dcf8c6;
    border-radius: 0 8px 8px 8px;
    margin-right: auto; /* Alineado a la izquierda */
    text-align: left;
}

/* Mensajes recibidos (blancos, alineados a la derecha) */
.whatsapp-received {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px 0 8px 8px;
    margin-left: auto; /* Alineado a la derecha */
    text-align: left;
}

/* Fecha y hora pequeña en cursiva */
.whatsapp-message-time {
    font-size: 10px;
    color: #888;
    font-style: italic;
    display: block;
    text-align: right;
    margin-top: 5px;
}

/* Pie de chat (input de mensajes y botones) */
.whatsapp-chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f6f6f6;
    border-top: 1px solid #ddd;
    justify-content: flex-end;
}

.whatsapp-footer-icon {
    width: 25px;
    margin: 0 10px;
    cursor: pointer;
}

.whatsapp-message-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    font-size: 14px;
}

/* Estilo por defecto del botón de Enviar (verde) */
.whatsapp-send-button {
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.whatsapp-send-button:hover {
    background-color: #20b259; /* Un tono más oscuro al pasar el ratón */
}

/* Cambiar el color del botón cuando se seleccionan múltiples clientes (violeta fuerte) */
.whatsapp-send-button.multiple-selected {
    background-color: #6b00ad; /* Color violeta fuerte */
    color: white; /* Texto en blanco */
}

.whatsapp-send-button.multiple-selected:hover {
    background-color: #550085; /* Un tono más oscuro de violeta al pasar el mouse */
}

/* Estilos para el cliente */
.client-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    height: 60px;
}

.client-item:hover {
    background-color: #f0f0f0;
}

/* Estilos para el checkbox */
.client-checkbox {
    margin-right: 10px;
}

/* Cliente seleccionado */
.selected-client {
    background-color: #e1d4f9; /* Color violeta claro */
}

.selected-client .client-info {
    font-weight: bold;
}

/* Estilos para los botones de selección */
/* Contenedor general */
.select-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
  }
  
  /* Estilo del select */
  .filter-select {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    font-size: 13px;
    border: 2px solid #6b00ad;
    border-radius: 8px;
    background: #ffffff;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .filter-select:hover {
    border-color: #ff914d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .filter-select:focus {
    outline: none;
    border-color: #55a834;
  }
  
  /* Botones */
  .select-button {
    width: 100%;
    max-width: 300px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #6b00ad;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .select-button:hover {
    background: #ff914d;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .select-button:active {
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Botón deshabilitado */
  
  .select-button:disabled {
    background: #d9d6f6;
    color: #888;
    cursor: not-allowed;
    box-shadow: none;
  }
  

.select-button {
    background-color: #6d00af;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.select-button:hover {
    background-color: #ff9843;
}
