/* Sidebar */
.sidebar {
    width: 220px;
    background-color: var(--white-color);
    height: 95vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #6b00ad;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    margin: 10px;
}

.sidebar .logo {
    text-align: center;
    padding: 20px 0;
}

.no-decoration {
    color: inherit;          /* Usa el color del padre (el <li>) */
    text-decoration: none;   /* Quita el subrayado */
}

.no-decoration:hover {
    color: inherit;          /* Mantiene el color en hover */
}


.sidebar .logo img {
    width: 65%;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

/* Estilos normales de los elementos de la lista del menú lateral */
.sidebar nav ul li {
    cursor: pointer;
    padding: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #585858;
    transition: background-color 0.2s ease, transform 0.3s ease;
}

.sidebar nav ul li i {
    margin-right: 15px;
    font-size: 20px;
}

/* Efecto hover */
.sidebar nav ul li:hover {
    /* background-color: #ffffff; */
    color: #6b00ad;
    border-radius: 10px;
    transform: scale(1.15);
}

/* Ocultar el submenú por defecto */
.submenu {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    background-color: transparent;
    list-style: none;
}

/* Estilo del submenú */
.submenu li {
    padding: 10px 0;
}

.submenu li a {
    color: #6b00ad;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
}

.submenu li a:hover {
    background-color: #f3f3f3;
    color: #6b00ad;
}

/* Mostrar el submenú al hacer hover sobre "Mensajes" */
.mensajes:hover .submenu {
    display: block;
    position: relative;
    padding-top: 5px;
}
